/*Sticky Header*/

body {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

header {
    position: sticky; /* Allocates space for the element, but moves it with you when you scroll */
    top: 0; /* specifies the start position for the sticky behavior - 0 is pretty common */
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1000;
}

#yasn-header-container {
    color: #fff;
    padding: 0 1em 0;
    margin: 0;
    background-color: #0b769c;
}

.index-header-right {
    line-height: 0;
}

#login-form {
    margin: 0;
    padding: 2rem 0 2rem;
    line-height: 0;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
}

#login-form-container {
    display: block;
    padding: 0 1rem 0;
    margin-left: 0;
}

#navbar-login-btn {
    background-color: #17a2b8 !important;
    border-color: #175167 !important;
    width: 100%;
    padding: 0;
    height: 2.4em;
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

#navbar-login-btn:hover {
    background-color: #18738a !important;
    border-color: #175167 !important;
}

#navbar-login-btn:focus {
    box-shadow: 0 0 0 .2rem #17a2b8;
}

.navbar-login-form-field-container {
    flex: 1 1 34%;
    padding-right: 0.5em;
}

div.navbar-login-form-field-container:nth-child(3) {
    /*padding-left: 1em;*/
}

.navbar-login-form-btn-container {
    display: block;
    float: right;
    flex: 0 0 27%;
    padding-left: 1em;
}

.navbar-login-form-field {
    height: 3.5rem;
    margin: -0.45em 0 0;
}

.navbar-login-form-field:focus {
    box-shadow: 0 0 0 .2rem #17a2b8;
}

#bad-credentials {
    width: auto;
    text-align: center;
    z-index: 1000;
}

#bad-credentials p {
    margin-bottom: 0;
    display: inline-block;
}

.alert {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0;
}

.yasn-notification-container-hidden {
    display: block;
}

.yasn-notification-container-hidden {
    color: #fff;
    background-color: red;
}

.yasn-notification-container-hidden {
    display: inline-block;
    border-radius: 1em;
    text-align: center;
    height: auto;
    position: relative;
    font-size: 10px;
    font-weight: bolder;
    width: 12px;
    top: 3px;
    left: -11px;
}

.notification-icons-container {
    width: 100%;
    display: block;
}

.notification-content-container {
    display: block;
    padding: 1em;
}