<div class="yasn-post-comment">

  <form (ngSubmit)="postComment()">
    <img src="{{commentAvatar.avatarPictureUrl}}" alt="profile-picture" class="comment-meta-avatar-img">

    <label>
      <input class="comment-post-textarea"
             name="commentContent"
             type="text"
             [(ngModel)]="commentModel.commentContent"/>
    </label>

    <div class="comment-image-upload">
      <label for="uploadCommentPhoto">
        <i class="fas fa-camera" aria-hidden="true"></i>
      </label>
      <input id="uploadCommentPhoto"
             name="uploadCommentPhoto"
             type="file"
             accept="image/*"
             #uploadCommentPhoto
             [(ngModel)]="picture">
    </div>

    <input class="comment-post-submit-btn" type="submit" value="Send">
  </form>

</div>
