<!doctype html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
>

<th:block>
    <div class="col-6">
        <!--                        <th:block layout:insert="~{guest-profile-fragments/post-on-timeline-as-guest}"/>-->
        <th:block layout:insert="~{guest-profile-fragments/guest-profile-post}"/>
        <!--todo Fix send buttons to be responsive!-->
    </div>
    <div class="col-6">
        <div class="user-profile-sidebar-container">
            <div class="profile-gallery-container shadow p-sm-1 mb-5 bg-white rounded">
                <p class="h6 font-weight-bold text-center">Friends</p>
                <hr class="post-delimiter">
                <th:block layout:insert= "~{/fragments/visualize-friends}"/>
            </div>
            <div class="profile-friends-container shadow p-sm-1 mb-5 bg-white rounded">
                <p class="h6 font-weight-bold text-center">Photo Gallery</p>
                <hr class="post-delimiter">
                <th:block layout:insert= "~{/fragments/visualize-gallery}"/>
            </div>
        </div>
    </div>
</th:block>

</html>