<!--
<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
&lt;!&ndash;/*@thymesVar id="comment" type="org.yasn.data.models.view.PostCommentViewModel"*/&ndash;&gt;
&lt;!&ndash;/*@thymesVar id="post" type="org.yasn.data.models.view.WallPostViewModel"*/&ndash;&gt;

<th:block layout:fragment="post-comment"

          th:each="comment : post.getComments()">

    <div class="post-comment-container">
        <div class="comment-meta-avatar">
            &lt;!&ndash;/*@thymesVar id="comment" type="org.yasn.data.models.view.PostCommentViewModel"*/&ndash;&gt;
            &lt;!&ndash;/*@thymesVar id="commentOwner" type="org.yasn.data.models.view.UserProfileViewModel"*/&ndash;&gt;
            &lt;!&ndash;<img class="user-img"
                 th:src="@{'data:image/png;base64,' + ${commentOwner.profilePicture}}">&ndash;&gt;
        </div>
        <div class="comment-menu">
            <div class="dropdown">
                <a role="button" data-toggle="dropdown" data-target="#"
                   aria-expanded="false">
                    <i class="fas fa-comment-dots"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li>
                        &lt;!&ndash;     todo  little post menu CRUD operations  &ndash;&gt;
                        <a class="post-control-edit"
                           href="">
                            Edit
                        </a>

                        <a class="post-control-delete"
                           href="">
                            Delete
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div>
            <a href="/user/profile"> [(${userProfileView.fullName})] </a>
        </div>
        <div class="wall-post-comment-content-container">
            &lt;!&ndash;/*@thymesVar id="comment" type="org.yasn.data.models.view.PostCommentViewModel"*/&ndash;&gt;
            <p>[(${comment.commentContent})]</p>
        </div>
    </div>
</th:block>

</html>-->
