<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en"
      layout:decorate="~{/fragments/default_layout}">

<th:block layout:fragment="main-content">
    <div class="row" id="yasn-home-body-container">

        <div id="sidebar-left" class="col-3">

        </div>

        <div id="yasn-home-wall" class="col-6">

            <th:block layout:insert="~{wall}"/>

        </div>

        <div id="sidebar-right" class="col-3">

        </div>
    </div>
</th:block>

</html>