<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <th:block th:include="~{fragments/head}"/>
</head>
<body>
<div class="yet-another-social-network">
    <div class="yasn-page-container">
        <header>
            <div class="yasn-header">
                <th:block th:include="~{fragments/navbar}"/>
            </div>
        </header>
        <main class="mt-2">
            <div class="yasn-inner-page">
                <div class="yasn-layout">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="main-left-content" class="col-sm-7">
                                <div>
                                    <p class="h2">
                                        Welcome to Yet Another Social Network!
                                    </p>
                                    <p>
                                        Log In or Sign Up if you don't have an account.
                                    </p>
                                </div>
                                <div>
                                    <img src="https://www.supinfo.com/articles/resources/228470/5249/0.png" class="img-fluid" alt="yasn-logo"/>
                                </div>
                            </div>
                            <div id="main-right-content" class="col-sm-5 shadow p-3 mb-5 bg-white rounded">
                                <th:block th:include="~{user/register}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="mt-3">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="yasn-footer-menu">
                        <th:block th:include="~{fragments/footer}"/>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
</body>
</html>