<th:block
        xmlns:th="http://www.thymeleaf.org">
    <div class="yasn-wall-container">
        <div class="yasn-post-container shadow-sm p-3 mb-5 bg-white rounded">
                    <span>
                        Create a Post
                    </span>
            <div class="yasn-post-attributes-container">
                <form th:action="@{/action/wall/post/}"
                      th:enctype="multipart/form-data"
                      id="yasn-wall-form" th:method="post" th:object="${wallPostModel}">

                    <textarea placeholder="What's on your mind?" name="post"></textarea>

                    <div class="yasn-post-location">
                        <input type="text" role="combobox" placeholder="Enter Location">
                    </div>
                    <div class="yasn-post-photo">
                        <input type="file" name="photo">
                    </div>
                    <div class="yasn-post-buttons">
                        <ul>
                            <li><i class="fas fa-user-friends"></i></li>
                            <li><i class="far fa-compass"></i></button></li>
                            <li><i class="fas fa-camera"></i></input></li>
                            <li><i class="far fa-grin-wink"></i></li>
                            <li class="yasn-post-privacy">
                                    <span>
                                        <i class="fas fa-user-secret"></i>
                                        <span>Privacy</span>
                                        <input class="btn btn-primary" type="submit" value="Post">
                                    </span>
                            </li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    </div>
</th:block>