<th:block
        xmlns:th="http://www.thymeleaf.org">
    <div class="yasn-wall-container">
        <div class="yasn-post-container shadow-sm p-3 mb-5 bg-white rounded">
                    <span>
                        Create a Post
                    </span>
            <div class="yasn-post-attributes-container">
                <form th:action="@{/action/wall/post/}"
                      enctype="multipart/form-data"
                      id="yasn-wall-form" th:method="post" th:object="${wallPostModel}">

                    <label for="comment-text" id="post"></label>
                    <textarea id="comment-text" placeholder="What's on your mind?" name="post"></textarea>

                    <div class="yasn-post-extra-tag">

                    </div>

                    <div class="yasn-post-extra-location">
                        <label for="location"></label>
                        <input type="text" id="location" name="location" placeholder="Enter Location...">

                    </div>

                    <div class="yasn-post-extra-photo">
                        <label for="pic" id="pic"></label>
                        <input type="file" name="pic">
                    </div>

                    <div class="yasn-post-extra-emojiies"></div>

                    <div class="yasn-post-buttons">
                        <ul>
                            <li><span><i class="fas fa-user-friends"></i></span></li>
                            <li><span onclick="postLocationInPost()"><i class="far fa-compass"></i></span></li>
                            <li><span onclick="postPicInPost()"><i class="fas fa-camera"></i></span></li>
                            <li><span onclick="chooseEmojii()"><i class="far fa-grin-wink"></i></span></li>
                            <li class="yasn-post-privacy">
                                    <span>
                                        <i class="fas fa-user-secret"></i>
                                        <span>Privacy</span>
                                        <input class="btn btn-primary" type="submit" value="Post">
                                    </span>
                            </li>
                        </ul>
                    </div>
                </form>

            </div>
        </div>
    </div>
</th:block>