<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{fragments/default_layout}"
      sec:authorize="isAuthenticated()">

<th:block layout:fragment="main-content">
    <div class="row" id="user-profile-body-container">

        <div id="user-profile-sidebar-left" class="col-3">

        </div>

        <div id="user-profile-main" class="col-6">
            <div class="user-profile-container">
                <div class="user-cover-container">
                    <div class="shadow mb-5 bg-white rounded">
                        <!--/*@thymesVar id="userProfileView" type="org.yasn.data.models.view.UserProfileViewModel"*/-->
                        <div class="cover-img-container">
                            <img class="static" th:src="@{${userProfileView.coverPicture}}"
                                 alt="cover-profile-image"/>
                            <img class="img-fluid z-depth-2 rounded profile-picture"
                                 th:src="@{${userProfileView.profilePicture}}"
                                 alt="profile-picture"/>
                            <span th:text="${userProfileView.getFullName()}"></span>
                        </div>
                        <div class="profile-nav-container">
                            <div class="profile-cover-menu">
                                <ul>
                                    <li>
                                        <a href="">
                                            Timeline
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Friends
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            Photos
                                        </a>
                                    </li>
                                    <li>
                                        <div class="profile-action-buttons">
                                            <a href="" type="submit">Add Friend</a>
                                            <a href="" type="submit">Messages</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <th:block layout:insert="~{wall-fragments/create-a-post}"/>
                        <th:block layout:insert="~{profile-fragments/profile-post}"/>
                        <!--todo Fix send buttons to be responsive!-->
                    </div>
                    <div class="col-6">
                        <div class="user-profile-sidebar-container">
                            <div class="profile-gallery-container shadow p-sm-1 mb-5 bg-white rounded">
                                <p class="h6 font-weight-bold text-center">Friends</p>
                                <hr class="post-delimiter">
                            </div>
                            <div class="profile-friends-container shadow p-sm-1 mb-5 bg-white rounded">
                                <p class="h6 font-weight-bold text-center">Photos</p>
                                <hr class="post-delimiter">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="user-profile-right" class="col-3">

        </div>
    </div>

</th:block>

</html>