<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/*@thymesVar id="allPosts" type="List<org.yasn.data.models.view.WallPostViewModel>"*/-->
<th:block layout:fragment="wall-post"
          th:each="post : ${allPosts}">
    <div class="yasn-wall-post-container shadow p-3 mb-5 bg-white rounded">
        <div class="yasn-wall-post-content">
            <div class="post-meta-avatar">
                <!--/*@thymesVar id="avatar" type="org.yasn.data.models.view.AvatarViewModel"*/-->
            <img class="user-img"
                 th:src="@{'data:image/png;base64,' + ${post.avatar.profilePicture}}">
            </div>
            <div class="post-menu">
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" data-target="#"
                       aria-expanded="false">
                        <i class="fas fa-comment-dots"></i>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu" >
                        <li>
                            <!--     todo  little post menu CRUD operations  -->
                            <a class="post-control-edit"
                               href="">
                                Edit
                            </a>

                            <a class="post-control-delete"
                               href="">
                                Delete
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div>
                <a href="/user/profile"> [(${{avatar.fullName}})] </a>
            </div>
            <div class="post-meta-info">
                <!--/*@thymesVar id="post" type="org.yasn.data.models.view.WallPostViewModel"*/-->
                <span th:text="${{post.createdOn}}"></span>
                <span class="time-created"></span>
                <span th:if="${post.postPrivacy.name() == 'PUBLIC'}">
                    <i class="fa fa-users"></i>
                </span>
                <span th:unless="${post.postPrivacy.name() == 'PUBLIC'}">
                    <i class="fas fa-lock"></i>
                </span>
            </div>

            <div class="post-contents">
                <p>[(${{postContent}})]</p>
                <img class="img-fluid" th:src="@{'data:image/png;base64,' + ${post.postPicture}}">


            </div>
            <div class="comments-likes">
                <div class="menu-likes-comments-share">
                    <li><a href="javascript:void(0)">Comment</a></li>
                    <li><a href="javascript:void(0);">Like</a></li>
                </div>

            </div>

        </div>
    </div>
</th:block>

</html>