<!doctype html>
<html lang="en"
      layout:decorate="~{fragments/default_layout}"
      sec:authorize="isAuthenticated()"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="main-content">
    <div class="row" id="user-profile-body-container">

        <div class="col-3" id="user-profile-sidebar-left">

        </div>

        <div class="col-6" id="user-profile-main">
            <div class="user-profile-container">
                <th:block layout:insert="~{profile-fragments/profile-header}"/>

                <!--/*@thymesVar id="profileEdit" type="org.yasn.data.models.binding.ProfileEditBindingModel"*/-->
                <form enctype="multipart/form-data" th:action="@{'/profile/edit/' + ${activeUserDetails.id}}"
                      th:method="post"
                      th:object="${profileEdit}">

                    <div class="profile-edit-container row">
                        <div class="shadow mb-5 bg-white rounded col-8">
                            <!--/*@thymesVar id="activeUserDetails" type="org.yasn.data.models.view.ActiveUserDetails"*/-->
                            <!--/*@thymesVar id="profileEdit" type="org.yasn.data.models.binding.ProfileEditBindingModel"*/-->
                            <hr class="post-delimiter"/>
                            <h5 class="text-muted text-center font-weight-bold mt-3">
                                Profile Edit
                            </h5>
                            <hr class="post-delimiter"/>
                            <div class="row">
                                <div class="col-6">
                                    <label class="font-weight-bold" for="firstName"></label>
                                    <input class="form-control" id="firstName" name="firstName"
                                           placeholder="First name" th:field="*{firstName}" type="text">
                                    <th:block th:if="${#fields.hasErrors('firstName')}">
                                        <small class="error" th:errors="*{firstName}"></small>
                                    </th:block>
                                </div>
                                <div class="col-6">
                                    <label class="font-weight-bold" for="lastName"></label>
                                    <input class="form-control" id="lastName" name="lastName"
                                           placeholder="Last name" th:value="*{lastName}" type="text">
                                    <th:block th:if="${#fields.hasErrors('lastName')}">
                                        <small class="error" th:errors="*{lastName}"></small>
                                    </th:block>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <label class="font-weight-bold" for="email"></label>
                                    <input class="form-control" id="email" name="email" placeholder="New Email"
                                           th:value="*{email}" type="email">
                                </div>
                                <div class="col-6">
                                    <label class="font-weight-bold" for="confirmEmail"></label>
                                    <input class="form-control" id="confirmEmail" name="confirmEmail"
                                           placeholder="Confirm Email..." th:value="*{confirmEmail}" type="email">
                                    <th:block th:if="${#fields.hasErrors('email')}">
                                        <small class="error" th:errors="*{email}">Email doesn't match</small>
                                    </th:block>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label class="font-weight-bold" for="oldPassword"></label>
                                    <input aria-describedby="passwordHelpInline" class="form-control"
                                           id="oldPassword" name="oldPassword" placeholder="Old Password..."
                                           th:value="*{oldPassword}"
                                           type="password">
                                    <th:block th:if="${#fields.hasErrors('oldPassword')}">
                                        <small class="error" th:errors="*{oldPassword}"></small>
                                    </th:block>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label class="font-weight-bold" for="newPassword"></label>
                                    <input aria-describedby="passwordHelpInline" class="form-control"
                                           id="newPassword" name="newPassword" placeholder="New Password..."
                                           th:value="*{newPassword}"
                                           type="password">
                                    <th:block th:if="${#fields.hasErrors('newPassword')}">
                                        <small class="error" th:errors="*{newPassword}"></small>
                                    </th:block>
                                    <small class="text-muted" id="passwordHelpInline">
                                        Must be minimum 8 characters long.
                                        Must contain atleast 1 capital letter and 1 digit.
                                    </small>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
                                    <label class="font-weight-bold" for="confirmNewPassword"></label>
                                    <input class="form-control" id="confirmNewPassword" name="confirmNewPassword"
                                           placeholder="Confirm The New Password..." th:value="*{confirmNewPassword}"
                                           type="password">
                                    <th:block th:if="${#fields.hasErrors('newPassword')}">
                                        <small class="error" th:errors="*{newPassword}"></small>
                                    </th:block>
                                </div>
                            </div>

                            <div class="row">
                                <div class="radio-section-container text-muted col-6">
                                    <div class="radio-label">
                                        <p class="text-muted " id="radio-gender-label">Gender</p>
                                    </div>

                                    <div class="radio-block">
                                        <label class="font-weight-bold" for="male">Male</label>
                                        <input class="custom-radio" id="male" name="gender" type="radio"
                                               value="male">
                                    </div>
                                    <div class="radio-block">
                                        <label class="font-weight-bold" for="female">Female</label>
                                        <input class="custom-radio" id="female" name="gender" type="radio"
                                               value="female">
                                    </div>
                                    <div class="radio-block">
                                        <label class="font-weight-bold" for="custom">Custom</label>
                                        <input class="custom-radio" id="custom" name="gender" type="radio"
                                               value="custom">
                                    </div>

                                </div>

                                <div class="col-6" id="birthday-register-container">
                                    <label class="text-muted" for="birthday">Birthday</label>
                                    <input class="form-control" id="birthday" name="birthday" th:value="*{birthday}"
                                           type="date">
                                </div>

                            </div>

                            <div class="button-holder rounded-lg">
                                <input class="btn btn-success btn-lg" id="royal-sign-up-button" type="submit"
                                       value="Save">
                            </div>


                        </div>
                        <div class="edit-profile-upload-container col shadow mb-5 bg-white rounded col-3 offset-1">
                            <div class="upload-profile-picture">
                                <label for="file-input-portrait">
                                    <i class="text-muted fas fa-portrait"></i>
                                </label>
                            </div>
                            <input id="file-input-portrait" style="display: none" th:field="*{profilePicture}"
                                   type="file"/>
                            <p class="text-muted">Upload profile picture</p>
                            <div class="upload-cover-img">
                                <label for="file-input-cover">
                                    <i class="text-muted far fa-image"></i>
                                </label>
                            </div>
                            <input id="file-input-cover" style="display: none" th:field="*{coverPicture}" type="file"/>
                            <p class="text-muted">Upload profile cover image</p>
                        </div>
                    </div>
                </form>

            </div>
        </div>

        <div class="col-3" id="user-profile-right">

        </div>
    </div>
</th:block>

</html>