<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block>
    <div class="col-6">
        <th:block layout:insert="~{profile-fragments/create-timeline-post}"/>
        <th:block layout:insert="~{profile-fragments/profile-post}"/>
    </div>
    <div class="col-6">
        <div class="user-profile-sidebar-container">
            <div class="profile-friends-container shadow p-sm-1 mb-5 bg-white rounded">
                <p class="h6 font-weight-bold text-center">Friends</p>
                <hr class="post-delimiter">
                <th:block layout:insert="~{/fragments/visualize-friends}"/>
            </div>
            <div class="profile-gallery-container shadow p-sm-1 mb-5 bg-white rounded">
                <p class="h6 font-weight-bold text-center">Photo Gallery</p>
                <hr class="post-delimiter">
                <th:block layout:insert="~{/fragments/visualize-gallery}"/>
            </div>
        </div>
    </div>
</th:block>

</html>