::ng-deep .mat-snack-bar-container{
  color: #155724 !important;
  background-color: rgba(252, 89, 89, 0.91) !important;
  border-color: #c3e6cb !important;
}

::ng-deep .mat-simple-snackbar-action {
  color: red;
}
