<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block layout:insert="~{fragments/head}"/>
</head>
<body>
    <header>
        <div class="yet-another-social-network-header">
            <th:block layout:insert="~{fragments/navbar}"/>
        </div>
    </header>
    <main>
        <div class="yet-another-social-network-body">
            <th:block layout:fragment="main-content"/>
        </div>
        <!--        todo fix Back to top button-->
        <!--        <a id="back-to-top-btn"></a>-->
    </main>
    <footer>
        <div class="yet-another-social-network-footer">
            <th:block layout:insert="~{fragments/footer}"/>
        </div>
    </footer>
</body>
</html>