<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<th:block layout:fragment="head"
          xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge, chrome=1" http-equiv="X-UA-Compatible">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="${favicon}">
    <link href="/css/reset-css.css " rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet"
          type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link href="https://res.cloudinary.com/yet-another-social-network/raw/upload/v1573368536/yet-another-social-network/emojione/emojionearea.min.css"
          rel="stylesheet"
          type="text/css">
    <script src="/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="/js/popper.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/script/responsive-design.js" type="text/javascript"></script>
    <script src="/js/script/post-extra-menu.js" type="text/javascript"></script>
    <script src="/js/script/post-comment.js" type="text/javascript"></script>
    <script src="/js/script/action.js" type="text/javascript"></script>
    <script src="https://res.cloudinary.com/yet-another-social-network/raw/upload/v1573368563/yet-another-social-network/emojione/emojionearea.min.js"
            type="text/javascript"></script>

</th:block>

</html>