<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

    <div class="yasn-friends">
        <!--/*@thymesVar id="userProfileView" type="org.yasn.data.models.view.UserProfileViewModel"*/-->
        <ul class="friends-pictures-container">
            <th:block th:each="friend : ${userProfileView.friends}">
                <li>
                    <span>
                        <img class="friend-picture" th:src="@{${friend.profilePicture}}"
                             alt="friend-picture">
                        <a th:href="@{'/profile/guest/' + ${friend.id}}" class="friend-name">[(${friend.fullName})]</a>
                    </span>
                </li>
            </th:block>
        </ul>
    </div>

</html>