<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">

<th:block>

    <ul class="list-inline">
        <li data-toggle="modal-lg" data-target="#myModal">
            <a href="#myGallery" data-slide-to="0">
                <img class="img-thumbnail" src="https://placeimg.com/200/133/nature/1">
                <br>
                Caption
            </a>
        </li>
        <!--end of thumbnails-->
    </ul>


</th:block>

</html>