/*Body*/
#yasn-home-body-container {
  background-color: #e9ebee;
  padding: 1rem 0 1rem;
}

.yasn-wall-container {
  display: block;
  width: 75%;
  alignment-baseline: top;
  border: 0.01em solid #e5e5e5;
  margin: 0 auto 0;
}

.yasn-post-container {
  display: block;
  background-color: #fff;
  padding: 1em;
  width: 100%;
  margin-bottom: 3em;
}

.yasn-post-container > span {
  display: block;
  font-weight: bold;
  color: rgb(105, 107, 110);
}

.yasn-post-container ul {
  margin: 0;
}

.yasn-post-attributes-container textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 0.5em;
  outline: 0;
}

.yasn-post-buttons li, .yasn-post-buttons span {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

.yasn-post-buttons li {
  padding: 0.43em;
  margin-top: 0.4em;
  cursor: pointer;
}

.yasn-post-buttons li:hover {
  color: rgba(11, 14, 17, 0.21);
}

.yasn-wall-post-form-button {
  padding: 0;
  margin: auto;
  position: relative;
  bottom: 2em;
  float: right;
}

.yasn-post-extra-location,
.yasn-post-extra-photo,
.yasn-post-extra-privacy ul,
.yasn-post-extra-tag {
  display: none;
  margin: 1em 0 0;
}

.emojionearea * {
  z-index: 0 !important;
}

