<mat-dialog-content>
  <div class="search-bar-container">
    <div class="search-bar-wrap">

        <input #searchParams="ngModel"
               [(ngModel)]="searchQuery"
               class="form-control"
               id="search-bar"
               type="text"
               placeholder="Search for user profile..."/>
      <span class="search-bar-icon" (click)="onSearch()"><i class="fas fa-search"></i></span>
    </div>
    <div class="search-content">
      <div *ngFor="let response of searchResult">
        <div class="search-result"><img src="{{response.profilePicture}}" alt="avatar-picture"/>
          <a [routerLink]="['/user/profile', response.id]" (click)="closeDialog()">{{response.fullName}}</a></div>
      </div>
    </div>
  </div>
</mat-dialog-content>




