.search-bar-container {
  display: block;
}

.search-bar-wrap {
  position: relative;
  width: 373px;
}

.search-bar input {
  border: none;
  background-color: #fff;
  display: block;
  width: 100%;
  padding: 1em;
}

.search-bar-icon {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  font-size: 20px;
}

.search-content {
  margin: 1em 0 0;
}
