<th:block>
    <div class="profile-nav-container">
        <div class="profile-cover-menu">
            <ul>
                <li>
                    <a href="">
                        Timeline
                    </a>
                </li>
                <li>
                    <a href="">
                        Friends
                    </a>
                </li>
                <li>
                    <a href="">
                        Photos
                    </a>
                </li>
                <li>
                    <div class="profile-action-buttons">
                        <a href="" type="submit">Messages</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</th:block>