<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--/*@thymesVar id="allProfilePosts" type="List<org.yasn.data.models.view.WallPostViewModel>"*/-->
<th:block th:each="post : ${allProfilePosts}">
    <div class="yasn-wall-post-container shadow p-3 mb-5 bg-white rounded">
        <div class="yasn-wall-post-content">
            <div class="post-meta-avatar">
                <!--/*@thymesVar id="post" type="org.yasn.data.models.view.WallPostViewModel"*/-->
                <!--/*@thymesVar id="postOwner" type="org.yasn.data.models.view.UserProfileViewModel"*/-->
                <img class="user-img"
                     th:src="@{${post.postOwner.profilePicture}}" alt="avatar">
            </div>
            <div class="post-menu">
                <div class="dropdown">
                    <a role="button" data-toggle="dropdown" data-target="#"
                       aria-expanded="false">
                        <i class="far fa-comment-dots"></i>
                    </a>
                    <ul class="dropdown-menu multi-level" role="menu">
                        <li>
                            <!--     todo  little post menu CRUD operations  -->
                            <a class="post-control-edit"
                               href="">
                                Edit
                            </a>

                            <a class="post-control-delete"
                               href="">
                                Delete
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
            <div>
                <a href="/user/profile"> [(${post.postOwner.fullName})] </a>
            </div>
            <div class="post-meta-info">
                <!--/*@thymesVar id="post" type="org.yasn.data.models.view.WallPostViewModel"*/-->
                <!--/*@thymesVar id="time" type="org.yasn.utils.TimeUtilImpl"*/-->
                <span th:text="${time.calcTimeAgo(post.createdOn)}"></span>
                <span th:if="${post.postPrivacy.name() == 'PUBLIC'}">
                    <i class="fa fa-users"></i>
                </span>
                <span th:unless="${post.postPrivacy.name() == 'PUBLIC'}">
                    <i class="fas fa-lock"></i>
                </span>
            </div>

            <div class="post-contents">
                <p>[(${post.postContent})]</p>
                <th:block th:unless="${post.postPicture == null}">
                    <img class="post-content-pic img-fluid"
                         th:src="@{${post.postPicture}}" alt="post-picture">
                </th:block>
            </div>

            <div class="comments-likes">
                <ul>
                    <li onclick="postCommentPop()">
                        <a href="javascript:void(0)">Comment</a>
                    </li>
                    <span> - </span>
                    <li>
                        <a href="javascript:void(0)">Like</a>
                    </li>
                    <li>
                <span>
                    [(${post.likes})]
                </span>
                        <i class="far fa-thumbs-up"></i>
                    </li>
                </ul>
            </div>
            <div class="yasn-post-comment">
                <!--/*@thymesVar id="postComment" type="org.yasn.data.models.binding.PostCommentBindingModel"*/-->
                <form th:action="@{/home/wall/comment}"
                      th:method="post"
                      enctype="multipart/form-data"
                      th:object="${postComment}">
                    <!--/*@thymesVar id="userProfileView" type="org.yasn.data.models.view.UserProfileViewModel"*/-->
                    <img class="comment-meta-avatar-img img-fluid"
                         th:src="@{${userProfileView.profilePicture}}"
                         alt="profile-picture"/>

                    <label for="yasn-comment-post-textarea"></label>
                    <input class="comment-post-textarea"
                           id="yasn-comment-post-textarea" type="text"
                           name="comment-post-textarea"
                           th:field="*{commentContent}"/>
                    <div class="comment-image-upload">
                        <label for="file-input">
                            <i class="fas fa-camera"></i>
                        </label>
                        <input id="file-input" type="file" th:field="*{commentPicture}"/>
                    </div>
                    <input type="hidden" name="postId" th:value="${post.id}"/>
                    <input class="comment-post-submit-btn" type="submit" value="Send"/>
                </form>
            </div>
        </div>
        <th:block layout:insert="~{wall-fragments/post-comments}"/>
    </div>
</th:block>

</html>
