/*Body*/
#yasn-home-body-container {
  background-color: #e9ebee;
  padding: 1rem 0 1rem;
}

.yasn-wall-container {
  display: block;
  width: 75%;
  alignment-baseline: top;
  border: 0.01em solid #e5e5e5;
  margin: 0 auto 0;
}

