<div class="yasn-post-container shadow p-3 mb-5 bg-white rounded">
                    <span>
                        Create a Post
                    </span>

  <div class="yasn-post-attributes-container">
    <form #post="ngForm" (ngSubmit)="createPost()">
      <label for="comment-text"></label>
      <textarea id="comment-text"
                name="post"
                type="text"
                #postContent="ngModel"
                [ngClass]="{'is-valid': postContent.valid && postContent.touched,
                                 'is-invalid': postContent.invalid && postContent.touched}"
                [(ngModel)]="postModel.postContent">
        </textarea>

      <div class="yasn-post-extra-tag">

      </div>

      <div class="yasn-post-extra-location">
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Enter Location...</span>
          </div>
          <label for="location">
            <input id="location" name="location"
                   type="text" class="form-control"
                   aria-describedby="inputGroup-sizing-default"/>
          </label>
        </div>

      </div>

      <div class="yasn-post-extra-photo">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Upload</span>
          </div>
          <div class="custom-file">
            <input id="post-picture" type="file" class="custom-file-input">
            <label class="custom-file-label" for="post-picture">Choose image</label>
          </div>
        </div>
      </div>

      <div class="yasn-post-extra-emojiies"></div>

      <div class="yasn-post-buttons" ng-controller="onEmojiClick">
        <ul>
          <li><i class="fas fa-user-friends"></i></li>
          <li><i class="far fa-compass"></i></li>
          <li><i class="fas fa-camera"></i></li>
          <li (click)="onEmojiClick(ev)"><i class="fas fa-smile"></i>
            <div class="emoji-container" style="display: none">
              <emoji-mart (emojiSelect)="select($event)"></emoji-mart>
            </div>
          </li>
          <li>
            <i class="fas fa-user-secret"></i>
            <span>Privacy</span>
          </li>
          <li class="yasn-post-extra-privacy">
            <!--  <ul>

              <li th:each="label : ${T(org.yasn.common.enums.PostPrivacy).values()}">
                <input th:field="*{postPrivacy}"
                       th:id="${{label}}"
                       th:value="${{label}}"
                       type="radio"/>

                <label th:for="${{label}}">[(${label.getLabel()})]</label>
              </li>

            </ul>-->
          </li>
          <li>
            <button class="post-submit-btn" type="submit">POST</button>
          </li>
        </ul>
      </div>
    </form>

  </div>
</div>
