.yasn-post-container {
  display: block;
  background-color: #fff;
  padding: 1em;
  width: 100%;
  margin-bottom: 3em;
}

.yasn-post-container > span {
  display: block;
  font-weight: bold;
  color: rgb(105, 107, 110);
}

.yasn-post-container ul {
  margin: 0;
}

.yasn-post-attributes-container textarea {
  display: block;
  width: 100%;
  resize: none;
  padding: 0.5em;
  outline: 0;
}

.yasn-post-buttons li, .yasn-post-buttons span {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
}

.yasn-post-buttons {
  display: block;
  overflow: hidden;
  width: 100%;
}

.yasn-post-buttons > ul:nth-child(1) > li:nth-child(6) {
  float: right;
}

.yasn-post-buttons li {
  padding: 0.43em;
  margin-top: 0.4em;
  cursor: pointer;
}

.yasn-post-buttons li:hover {
  color: rgba(11, 14, 17, 0.21);
}

.yasn-wall-post-form-button {
  padding: 0;
  margin: auto;
  position: relative;
  bottom: 2em;
  float: right;
}

.yasn-post-extra-location,
.yasn-post-extra-photo,
.yasn-post-extra-privacy ul,
.yasn-post-extra-tag {
  display: none;
  margin: 1em 0 0;
}

.emojionearea * {
  z-index: 1 !important;
}

.post-submit-btn {
  border: none;
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  font-size: 18px;
  color: #929292;
  cursor: pointer;
  width: 100%;
  padding: 0 1em 0;
  display: inline-block;
}

.post-submit-btn:hover {
  border: none;
  text-align: center;
  border-radius: 1em;
  background-color: #f0f2f4;
  font-weight: bold;
  font-size: 18px;
  color: #929292;
  width: 100%;
  cursor: pointer;
  display: inline-block;
}
