.notification-content-container {
  display: flex;
  padding: 1em;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
}

.notification-content-avatar {
  display: block;
  width: 5%;
  height: auto;

}

/*
.yasn-notification-container-hidden {
  display: block;
}

.yasn-notification-container-hidden {
  color: #fff;
  background-color: red;
}

.yasn-notification-container-hidden {
  display: inline-block;
  border-radius: 1em;
  text-align: center;
  height: auto;
  position: relative;
  font-size: 10px;
  font-weight: bolder;
  width: 12px;
  top: 3px;
  left: -11px;
}

.notification-icons-container {
  width: 100%;
  display: block;
}

.notification-content-container {
  display: block;
  padding: 1em;
}*/
