<div class="row" id="yasn-home-header-container">
  <div class="col-xl-3 col-md-4 col-sm-2" id="header-left">

  </div>
  <div class="col-xl-6 col-md-4 col-sm-8">
    <nav>
      <div class="navbar-avatar-container float-left">
        <img alt="profile-picture" id="avatar-picture" src="{{profilePictureUrl}}"/>
        <a [routerLink]="['/user/profile', profileId]">
          <span id="avatar-name">{{userFullName}}</span>
        </a>
      </div>
      <div class="navbar-menu-right nav-tabs float-right">
        <ul>
          <li>
            <a class="yasn-home" routerLink="/home" style="color: #212529">
                            <span>
                                <i class="fas fa-home"></i>
                            </span>
            </a>
          </li>
          <li>
            <a class="yasn-search" (click)="openSearchBar()">
                            <span>
                                <i class="fab fa-searchengin"></i>
                            </span>
            </a>
          </li>
          <li>
            <a class="yasn-notification-friends" href="">
                            <span>
                                <i class="fa fa-users"></i>
                            </span>
            </a>
          </li>
          <li>
            <a class="yasn-notification-messages" href="">
                            <span>
                                <i class="fa fa-envelope"></i>
                            </span>
            </a>
          </li>
          <li>
            <a class="yasn-notifications" (click)="showNotificationDropdown()" role="button">
              <div class="notification-icons-container">
                <i class="fas fa-bell">
                  <span *ngIf="notifications.length !== 0"
                        matBadge="{{notifications.length}}"
                        matBadgeColor="warn"
                        matBadgeOverlap="true"
                        matBadgePosition="above after">
                  </span>
                </i>
              </div>
              <div *ngIf="notificationDropdown" class="notifications-dropdown-container">
                <div class="notifications-header">
                  <h5>Notifications</h5>
                </div>
                <div *ngFor="let notification of notifications" class="notification-content-container">

                  <img alt="avatar-picture"
                       class="notification-content-avatar" src="{{notification.senderPicture}}"/>
                  <p>
                    <a [routerLink]="['/user/profile', profileId]">
                      {{notification.senderFullName}}
                    </a>
                    <span>, {{notification.content}}</span>
                    <a href="">{{notification.action}}</a>
                    <span> {{convertTime(notification.createdOn)}}</span>
                  </p>
                </div>
              </div>
            </a>
          </li>
          <li class="navbar-dropdown-menu">
            <div class="dropdown">
              <a data-target="#" data-toggle="dropdown" role="button">
                <i class="fas fa-caret-down"></i>
              </a>
              <ul class="dropdown-menu multi-level" role="menu">
                <li>
                  <a href="">Admin Panel</a>
                </li>
                <li>
                  <a routerLink="user/profile">Profile Settings</a>
                </li>
                <li>
                  <div (click)="logout()">
                    <i class="fa fa-sign-out-alt">
                      <span>Logout</span>
                    </i>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="col-xl-3 col-md-4 col-sm-2" id="header-right">

  </div>
</div>
