<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<th:block layout:fragment="footer">
    <div class="col-md-12">
        <div class="footer-content">
            <div class="yasn-footer-menu">
                <hr class="w-100"/>
                <a class="menu-footer-a_copyrights" href="https://www.linkedin.com/in/dvelichkov/">
                    © COPYRIGHT Yet Another Social Network, Developed by Denislav Velichkov
                </a>
                <a class="menu-footer-about" href="">
                    About</a>
                <a class="menu-footer-site" href="">
                    Terms and Conditions</a>
                <a class="menu-footer-privacy" href="">
                    Privacy</a>
                <a class="menu-footer-powered text-right float-right" href="">
                    Powered by One Man Army.</a>
            </div>
        </div>
    </div>
</th:block>

</html>