<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<th:block layout:fragment="head"
          xmlns:th="http://www.thymeleaf.org">

    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge, chrome=1" http-equiv="X-UA-Compatible">
    <title th:text="${title}"></title>
    <link rel="icon" th:href="${favicon}">
    <link rel="stylesheet" href="/css/reset-css.css " type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/fileinput.min.css" type="text/css">
    <link rel="stylesheet" href="https://res.cloudinary.com/yet-another-social-network/raw/upload/v1573368536/yet-another-social-network/emojione/emojionearea.min.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery.bsPhotoGallery.css" type="text/css">
    <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/theme.min.js"></script>
    <script src="https://kit.fontawesome.com/c70bf16b00.js" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://res.cloudinary.com/yet-another-social-network/raw/upload/v1573368563/yet-another-social-network/emojione/emojionearea.min.js"></script>
    <script type="text/javascript" src="/js/script/responsive-design.js"></script>
    <script type="text/javascript" src="/js/script/post-extra-menu.js"></script>
    <script type="text/javascript" src="/js/script/post-comment.js"></script>
    <script type="text/javascript" src="/js/script/action.js"></script>
    <script type="text/javascript" src="/js/script/profile-functionality.js"></script>
    <script type="text/javascript" src="/js/jquery.bsPhotoGallery.js"></script>

</th:block>

</html>