<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<div class="yasn-profile-gallery">
    <!--/*@thymesVar id="gallery" type="org.yasn.data.models.view.gallery.PersonalGalleryViewModel"*/-->
    <ul class="album-pictures-container">
        <th:block th:each="album: ${gallery.photoAlbums}">
            <li>
                <span><img th:src="@{${album.albumImg}}" alt="album-img">
                    <a href=""
                       class="album-name"
                       th:attr="data-target='#album-modal-'+ ${album.id}"
                       data-toggle="modal"
                    >
                        [(${album.name})]
                    </a></span>
            </li>

            <div th:attr="id = 'album-modal-' + ${album.id}" class="modal">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">

                        <div class="modal-header">
                            <span class="pull-left">[(${album.name})]</span>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <div class="modal-body">
                            <ul id="gallery-showcase">
                                <th:block th:each="picture : ${album.getPictures()}">
                                    <li>
                                        <img class="picture-showcase" th:src="@{${picture.pictureUrl}}" alt="picture">
                                    </li>
                                </th:block>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button class="btn-sm close" type="button" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

        </th:block>
    </ul>
</div>

</html>