<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<!--/*@thymesVar id="post" type="org.yasn.data.models.view.WallPostViewModel"*/-->
<!--/*@thymesVar id="commentOwner" type="org.yasn.data.models.view.UserProfileViewModel"*/-->
<!--/*@thymesVar id="comments" type="List<org.yasn.data.models.view.PostCommentViewModel>"*/-->
<div th:each="comment : ${post.comments}">
    <hr class="post-delimiter">
    <div class="post-comment-container">
        <div class="post-meta-avatar">
            <img class="user-img" th:src="@{${comment.commentOwner.profilePicture}}" alt="profile-avatar"/>
        </div>
        <div class="post-menu">
            <div class="dropdown">
                <a role="button" data-toggle="dropdown" data-target="#"
                   aria-expanded="false">
                    <i class="far fa-comment-dots"></i>
                </a>
                <ul class="dropdown-menu multi-level" role="menu">
                    <li>
                        <!--     todo  little post menu CRUD operations  -->
                        <a class="post-control-edit"
                           href="">
                            Edit
                        </a>

                        <a class="post-control-delete"
                           href="">
                            Delete
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <a th:href="@{'/profile/guest/' + ${comment.commentOwner.id}}"> [(${comment.commentOwner.fullName})] </a>
        </div>
        <div class="post-meta-info">

            <span th:text="${time.calcTimeAgo(comment.createdOn)}"></span>
            <div class="wall-post-comment-content-container">
                <p>[(${comment.commentContent})]</p>
            </div>
            <th:block th:unless="${comment.commentPicture == null}">
                <div class="img-container">
                    <img class="post-content-pic img-fluid"
                         th:src="@{${comment.commentPicture}}" alt="comment-picture">
                </div>
            </th:block>
        </div>
    </div>
</div>
</html>
