<app-create-post></app-create-post>
<div *ngFor="let post of newsFeedPosts">
  <hr class="post-delimiter"/>
  <div class="post-container shadow p-2 mb-5 bg-white rounded">

    <div class="post-meta-avatar">
      <img alt="profile-avatar" class="user-img" src="{{post.ownerAvatarPictureUrl}}"/>
      <span>{{post.ownerFullName}}</span>
      <span>{{convertTime(post.createdOn)}}</span>
    </div>

    <div class="post-content">
      <p>{{post.content}}</p>
      <div *ngFor="let pic of post.postPicture">
        <img class="post-img" src="{{pic}}" alt="post-picture"/>
        <hr>
      </div>
    </div>
    <div class="comments-likes">
      <ul>
        <li (click)="postCommentPop()">
          <span>Comment</span>
        </li>
        <span class="text-muted"> - </span>
        <li>
          <span class="post-like" (click)="likeAPost()">
            Like
          </span>
        </li>
        <li>
          <span id="likes-count">{{post.likesCount}} </span>
          <i class="far fa-thumbs-up" aria-hidden="true"></i>
        </li>
      </ul>
    </div>
    <div *ngIf="showComments" class="yasn-post-comment">

      <form>
        <img alt="profile-picture" class="comment-meta-avatar-img img-fluid" src="{{avatar.avatarPictureUrl}}">

        <label for="yasn-comment-post-textarea"></label>
        <input class="comment-post-textarea"
               id="yasn-comment-post-textarea"
               name="commentContent"
               type="text" value=""/>

        <div class="comment-image-upload">
          <label for="file-input">
            <i class="fas fa-camera" aria-hidden="true"></i>
          </label>
          <input id="file-input" type="file" name="commentPicture">
        </div>

        <input class="comment-post-submit-btn" type="submit" value="Send">
      </form>

    </div>

  </div>
</div>
