.post-meta-avatar {
  float: left;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  flex-direction: row;
}

.post-meta-avatar span {
  flex: 1 1 100%;
}

.post-meta-avatar > span:nth-child(3) {
  font-weight: 100;
  font-style: italic;
  font-size: 0.7em;
  flex: 0 0 auto;
}

.post-menu {
  float: right;
  color: #1b1e21;
  cursor: pointer;
}

.post-menu ul.show {
  display: inline-block;
}

.post-menu ul.show li {
  display: inline-block;
}

.post-control-delete {
  margin-left: 3em;
  color: red !important;
}

.post-content {
  flex: 1 1 100%;
  margin: 1em 0 0 0;
}

.user-img {
  width: 4em;
  height: auto;
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
}

.post-contents {
  margin-top: 2em;
}

.comments-likes {
  display: block;
  margin-top: 2em;
}

.comments-likes li {
  display: inline-block;
  cursor: pointer;
}

.comments-likes > ul > li:nth-child(4) {
  float: right;
}

.yasn-post-comment {
  display: block;
  width: 100%;
}

.yasn-post-comment form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.comment-meta-avatar-img {
  display: inline-block;
  border-radius: 50%;
  width: 47px;
  height: auto;
}

.comment-post-submit-btn:hover {
  display: inline-block;
  background-color: #f0f2f4;
  border-radius: 1em;
  float: right;
  cursor: pointer;
}

.post-meta-info > span {
  color: rgba(93, 93, 93, 0.48);
  font-style: italic;
}

.post-container {
  margin-top: 1em;
  border-radius: 1em;
  background-color: rgba(233, 235, 238, 0.65);
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.post-delimiter {
  margin: 1em 2em 0;
}

.wall-post-comment-content-container {
  margin-top: 2em;
  margin-left: 1em;
}

.post-comment-container {
  margin: 0 0 1em 0;
}

.comment-image-upload{
  display: flex;
  margin: 0 0.5em 0 0.5em;
  align-items: center;
}

.comment-image-upload > input {
  display: none;
}

.comment-image-upload > label > i{
  cursor: pointer;
}

.comment-image-upload > label {
  margin: 0;
}

.comment-image-upload > label:hover {
  color: #b9bbbe;
}

.img-container {
  display: block;
}

.post-content-pic {
  padding: 1em;
}

.post-img {
  border-radius: 5px;
  height: auto;
  width: 100%;
}

.post-like {
  font-weight: 400;
}

.yasn-post-comment {
  display: block;
  width: 100%;
}

.yasn-post-comment form {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
}

.comment-meta-avatar-img {
  display: inline-block;
  border-radius: 50%;
  width: 47px;
  height: auto;
}

.comment-post-textarea {
  display: inline-block;
  width: 74%;
  margin: 0 0.5em 0 0.5em;
}

.comment-post-submit-btn {
  border: none;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  font-weight: bold;
  color: #929292;
  float: right;
  cursor: pointer;
  width: 65px;
  height: auto;
}

.comment-post-submit-btn:hover {
  display: inline-block;
  background-color: #f0f2f4;
  border-radius: 1em;
  float: right;
  cursor: pointer;
}

#yasn-comment-post-textarea {
  color: #222427;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  background: #fff;
  font-size: 16px;
}




