<app-create-post></app-create-post>

<div *ngFor="let post of newsFeedPosts">
  <div class="post-container shadow p-2 mb-5 bg-white rounded">

    <div class="post-meta-avatar">
      <img alt="profile-avatar" class="user-img" src="{{post.ownerAvatarPictureUrl}}"/>
      <span>{{post.ownerFullName}}</span>
      <span>{{convertTime(post.createdOn)}}</span>
    </div>

    <div class="post-content">
      <p>{{post.content}}</p>
      <div *ngFor="let pic of post.postPicture" class="post-content-container">
        <img alt="post-picture" class="post-img" src="{{pic}}"/>
      </div>
    </div>

    <div class="comments-likes">
      <ul>
        <li (click)="postCommentPop()">
          <span>Comment</span>
        </li>
        <span class="text-muted"> - </span>
        <li>
          <span (click)="likeAPost(post.id, post.postLikedByCurrentUser)" class="post-like">
            <span *ngIf="post.postLikedByCurrentUser">Unlike</span>
            <span *ngIf="!post.postLikedByCurrentUser">Like</span>
          </span>
        </li>
        <li>
          <span id="likes-count">{{post.likesCount}} </span>
          <i aria-hidden="true" class="far fa-thumbs-up"></i>
        </li>
      </ul>
    </div>

    <app-create-comment *ngIf="showComments"
                        [postId]="post.id">
    </app-create-comment>

    <div *ngFor="let comment of post.comments">
      <hr class="post-delimiter">

      <div class="post-comment-meta-avatar">
        <img alt="profile-avatar" class="user-img" src="{{comment.avatarPictureUrl}}"/>
        <span>{{comment.senderFullName}}</span>
        <span>{{convertTime(comment.createdOn)}}</span>
      </div>

      <div class="post-comment-content">
        <p>{{comment.content}}</p>
        <div *ngFor="let commentPic of comment.pictures" class="post-content-container">
          <img alt="post-picture" class="post-img" src="{{commentPic}}"/>
        </div>
      </div>

    </div>

  </div>
</div>
