<div id="yasn-header-container">
    <div class="col-md-6">
        <div class="yasn-logo">

        </div>
    </div>

    <div class="col-md-6 index-header-right">

        <div id="login-form-container">
            <form #loginForm = "ngForm" (ngSubmit)="onSubmit()" id="login-form">

                <div class="navbar-login-form-field-container">
                    <input class="form-control navbar-login-form-field" id="loginEmail" name="email" placeholder="Email"
                           type="email" type="email"
                           pattern="(?:[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*|(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*)@(?:(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?|\[(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?|[a-z0-9-]*[a-z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])"
                           required
                           #email="ngModel"
                           [ngClass]="{'is-valid':  email.valid
                                                &&  email.touched,
                                   'is-invalid': email.invalid
                                                &&  email.touched}"
                           [(ngModel)]="userLoginBindingModel.email">

                  <div class="invalid-feedback">
                    Valid Email is required.
                  </div>

                </div>

                <div class="navbar-login-form-field-container">
                    <input class="form-control navbar-login-form-field" id="loginPassword" name="password"
                        placeholder="Password..." type="password"
                           required
                           #password="ngModel"
                           [(ngModel)]="userLoginBindingModel.password">

                </div>

                <div class="navbar-login-form-btn-container">
                    <button class="btn btn-success btn-lg" [disabled]="loginForm.invalid" id="navbar-login-btn" type="submit">
                        Log In
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
