<!-- <div class="col">
   
</div>
<div class="col offset-1 index-header-right">

    <div id="login-form-container">
        <form id="login-form">

            <div class="navbar-login-form-field-container">
                <label for="email"></label>
                <input class="form-control navbar-login-form-field" id="email" name="email" placeholder="Email"
                    type="email">
            </div>

            <div class="navbar-login-form-field-container">
                <label for="password"></label>
                <input class="form-control navbar-login-form-field" id="password" name="password"
                    placeholder="Password..." type="password">
            </div>

            <div class="navbar-login-form-btn-container">
                <button class="btn btn-success btn-lg" id="navbar-login-btn" type="submit">
                    Log In
                </button>
            </div>

        </form>
    </div>
</div>
</div> -->
<p>It works !</p>