<th:block xmlns:th="http://www.thymeleaf.org">
    <div class="shadow p-3 mb-5 bg-white rounded">
        <div>
            <div class="h1" >Create a New Account
                <small class="h5 text-muted d-block">Dive in social networking!</small>
            </div>
        </div>
        <div id="index-register-form-container">
            <form action="/user/register" method="post"><input type="hidden" name="_csrf"
                                                               value="c2248bbf-cabb-4769-a767-7baca40bb77d">

                <div class="row">
                    <div class="col-6">
                        <label class="font-weight-bold" for="firstName"></label>
                        <input class="form-control" id="firstName" name="firstName"
                               placeholder="First name" value="" type="text">

                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold" for="lastName"></label>
                        <input class="form-control" id="lastName" name="lastName"
                               placeholder="Last name" value="" type="text">

                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <label class="font-weight-bold" for="email"></label>
                        <input class="form-control" id="email" name="email" placeholder="Email..."
                               value="" type="email">

                    </div>
                    <div class="col-6">
                        <label class="font-weight-bold" for="confirmEmail"></label>
                        <input class="form-control" id="confirmEmail" name="confirmEmail"
                               placeholder="Confirm Email..." value="" type="email">

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <label class="font-weight-bold" for="password"></label>
                        <input aria-describedby="passwordHelpInline" class="form-control" id="password"
                               name="password" placeholder="Password..." value="" type="password">
                        <small class="text-muted" id="passwordHelpInline">
                            Must be 8-20 characters long.
                        </small>

                    </div>

                </div>

                <div class="row">
                    <div class="col-12">
                        <label class="font-weight-bold" for="confirmPassword"></label>
                        <input class="form-control" id="confirmPassword" name="confirmPassword"
                               placeholder="Confirm Password..." value="" type="password">

                    </div>
                </div>

                <div class="row">
                    <div class="radio-block-container text-muted col-6 d-block">
                        <div class="d-block" style="">
                            <p id="radio-gender" class="text-muted d-block">Gender</p>
                        </div>
                        <div class="d-block">
                            <div class="radio-block d-inline-block">
                                <label class="font-weight-bold" for="male">Male</label>
                                <input class="custom-radio" id="male" name="gender" type="radio"
                                       value="male">
                            </div>
                            <div class="radio-block d-inline-block">
                                <label class="font-weight-bold" for="female">Female</label>
                                <input class="custom-radio" id="female" name="gender" type="radio"
                                       value="female">
                            </div>
                            <div class="radio-block d-inline-block">
                                <label class="font-weight-bold" for="custom">Custom</label>
                                <input class="custom-radio" id="custom" name="gender" type="radio"
                                       value="custom">
                            </div>
                        </div>
                    </div>

                    <div id="birthday-register-container" class="col-6 d-inline-block">
                        <label class="text-muted" for="birthday">Birthday</label>
                        <input class="form-control" id="birthday" name="birthday" value="" type="date">
                    </div>

                </div>

                <div class="button-holder mt-2 d-flex justify-content-center rounded-lg">
                    <input class="btn btn-success btn-lg" id="royal-sign-up-button" type="submit"
                           value="Sign Up">
                </div>
            </form>
        </div>
    </div>
</th:block>