#header-container {
    background-color: #0b769c;
    color: #fff;
}


#navbar-login-btn {
    background-color: #17a2b8 !important;
    border-color: #175167 !important;
}

#navbar-login-btn:hover {
    background-color: #18738a !important;
    border-color: #175167 !important;
}

.navbar-login-form {
    height: 47px;
    width: 17rem !important;
}

#login-form {

}

.nav-login-box {
    padding-right: 15px;
}

#login-form-container {
    padding: 20px;
}