#yasn-header-container {
    color: #fff;
    padding: 0 15px 0;
    margin: 0 10rem 0;
    min-width: 460px;
}

.index-header-right {
   line-height: 0;
}

#navbar-login-btn {
    background-color: #17a2b8 !important;
    border-color: #175167 !important;
    width: 10rem;
    padding: 0 0 0 0;
    height: 57px;
    line-height: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 1.5rem; 
}

#navbar-login-btn:hover {
    background-color: #18738a !important;
    border-color: #175167 !important;
}

.navbar-login-form-field-container {
    width: 36%;
}

div.navbar-login-form-field-container:nth-child(4) {
    padding-left: 10px;
}

.navbar-login-form-btn-container {
    position: relative;
    margin-left: 0px;
    left: 35px;
}

.navbar-login-form-field {
    height: 3.5rem; 
    margin: -7px 0 0 0;
}

#login-form-container {
    padding: 0 2rem 0;
    display:flex;
}

#login-form {
   margin: 0;
   padding: 2rem 0 2rem;
   line-height: 0;
   display: inline-flex;
   vertical-align: bottom;
   width: 100%;
}
