/*Header*/

#yasn-home-header-container{
    background-color: #0b769c;

}

.navbar-menu-right {
    display: flex;
    justify-content: right;
    padding: 1rem;
}

.navbar-menu-right ul{
    margin: 0;
}

.navbar-menu-right ul > li i:hover{
    color: #fff;
}

.navbar-menu-right ul li{
    display: inline-block;
    margin: 0 0.33em 0;
}

.navbar-menu-right ul li:hover{
    cursor: pointer;
}

.navbar-menu-right i {
    font-size: 1.3rem;
}

.navbar-dropdown-menu {
    display: block;
}

.dropdown-menu {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu li a {
    color: #1b1e21;
}

.dropdown-menu li a:hover {
    background-color: rgba(165, 188, 194, 0.41);
    color: #1b1e21;
    text-decoration:none;
}
/*Body*/
