/*Header*/

#yasn-home-header-container {
    background-color: #0b769c;
}

.navbar-menu-right {
    display: block;
    justify-content: right;
    padding: 1rem;
}

.navbar-menu-right ul {
    margin: 0;
}

.navbar-menu-right ul > li i:hover {
    color: #fff;
}

.navbar-menu-right ul li {
    display: inline-block;
    margin: 0 0.33em 0;
}

.navbar-menu-right ul li:hover {
    cursor: pointer;
    background-color: rgba(165, 188, 194, 0.15);
}

.dropdown-menu.show li {
    display: block;
}

.navbar-menu-right i {
    font-size: 1.3rem;
}

.navbar-dropdown-menu {
    display: block;
}

.dropdown-menu {
    border-radius: 1em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu li a {
    color: #1b1e21;
    font-family: Helvetica, cursive;
}

.dropdown-menu li a:hover {
    color: #1b1e21;
    text-decoration: none;
}

.dropdown-menu.show {
    margin-top: 1rem;
}

.fa.fa-sign-out-alt {
    font-size: 1em!important;
}

.nav-tabs {
    border-bottom: 0 solid #dee2e6!important;
}

/*Body*/
#yasn-home-body-container {
    background-color: #e9ebee;
    padding: 1rem 0 1rem;
}

.wiym-wall-container {
    display: block;
    background-color: #fff;
    width: 100%;
    alignment-baseline: top;
    border: 0.01em solid #e5e5e5;
}