.yasn-profile-gallery-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    margin: 0 0 1em;
    padding: 0 0.5em 0;
}

.album-picture-container {
    display: inline-block;
    width: 100%;
    padding-top: 2.8em;
    position: relative;
    margin: 0 1em 0;
}

.album-pic {
    display: flex;
    max-width: 100%;
    margin: auto;
    height: auto;
    border-radius: 0.4em;
}

.album-name {
    font-weight: bolder;
    color: #4e555b;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}




