@import url("header.css");
@import url("footer.css");

* {
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

#main-right-content {
    max-width: 40rem;
}

.btn-primary {
    width: 110px;
    font-size: 21px;
    font-weight: bolder;
}

.btn-success {
    font-size: 19px;
    font-weight: bolder;
}

.yasn-page-container {
    overflow: hidden;
}


.error {
    color: red;
    font-family: "Monospaced";
}

