.yasn-header {
    background-color: #3b5998;
}

#main-right-content {
    width: auto;
}


footer .yasn-footer-menu a {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
    color: #1b1e21;
}

.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: rgba(0, 0, 0, 1) !important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

img.img-thumbnail {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    max-width: 40px;
    max-height: 40px;
}

.btn-width {
    width: 200px;
    margin: 5px;
}

.error {
    color: red;
    font-family: "Harlow Solid Italic";
}

