#user-profile-main {
    margin-top: 2em;
}

.user-profile-container {
    display: block;
}

.user-cover-container {
    display: block;
    height: auto;
    width: 100%;
}

.cover-img-container {
    overflow: hidden;
    position: relative;
}

.cover-img-container::before {
    display: block;
    content: '';
    padding-top: 50%;
}

.cover-img-container .static {
    position: absolute;
    width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
}

.cover-img-container .profile-picture {
    width: 15%;
    height: auto;
    display: block;
    position: absolute;
    top: 60%;
    left: 5%;
    box-shadow: 0 0 0.6em #fff;
}

.profile-nav-container {
    display: block;
    width: 100%;
}

.profile-cover-menu > ul {
    margin-top: 1rem;
    padding-bottom: 1em;
}

.profile-cover-menu li {
    display: inline;
    text-align: center;
    padding: 0 1em 0;

}

.profile-cover-menu > ul a {
    font-weight: bold;
    color: #4e555b;
}

.profile-action-buttons {
    display: inline-block;
    float: right;
}

.profile-action-buttons a {
    padding: 0 1em 0;
}

.profile-name-container {
    position: absolute;
    top: 79%;
    left: 23%;
    height: auto;
    width: 100%;
    display: block;
}

.profile-name-container p {
    padding: 0;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}


/*Sticky sidebar*/
.user-profile-sidebar-container {
    position: sticky;
}

.profile-edit-container {
    margin: 0;
}

.upload-profile-picture, .upload-cover-img {
    font-size: 9rem;
    text-align: center;
    cursor: pointer;
}

.edit-profile-upload-container p {
    text-align: center;
    font-weight: bold;
}

.friend-picture-container {
    display: flex;
    justify-content: space-around;
    flex-flow: column wrap;
    margin-top: 1em;
    margin-bottom: 0.5em;
    padding: 0 0.5em 0;
}

.friend-picture {
    flex: 0 0 100%;
    height: auto;
    border-radius: 0.4em;
    overflow: hidden;
}

/*.friend-picture-container:hover .friend-profile-picture span {
    display: flex;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    transition: 0.50s;
}*/

.friend-picture-container {
    display: flex;
    flex-flow: row wrap;
}

.profile-picture-action {
    display: flex;
    position: relative;
    width: 25%;
}

.friend-picture-container a {
    display: none;
}

.friend-name {
    position: absolute;
    top: 0;
    display: block;
    left: 12%;
    font-weight: bolder;
    color: #4e555b;
}

/*todo Responsive cover images: https://jsfiddle.net/brettdewoody/bcwx9qft/*/