.yasn-wall-post-container {
    margin-top: 3em;
}

.post-meta-avatar {
    float: left;
}

.post-menu {
    float: right;
    color: #1b1e21;
    cursor: pointer;
}

.post-menu ul.show {
    display: inline-block;
}

.post-menu ul.show li {
    display: inline-block;
    margin-left: 1em;
}

.post-control-delete {
    margin-left: 3em;
    color: red !important;
}

.user-img {
    width: 4em;
    height: auto;
    border-radius: 50%;
    display: inline-block;
    background-color: #fff;
}

.post-contents {
    margin-top: 2em;
}

.comments-likes {
    display: block;
    margin-top: 2em;
}

.comments-likes li {
    display: inline-block;
}

.comments-likes > ul > li:nth-child(4) {
    float: right;
}

.yasn-post-comment {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.yasn-post-comment form {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}


.comment-meta-avatar-img {
    display: inline-block;
    border-radius: 50%;
    width: 7%;
}

.comment-post-textarea {
    display: inline-block;
    width: 80% !important;
    margin-top: 0.5em !important;
    margin-right: 1em;
    margin-left: 1em
}

.comment-post-submit-btn {
    display: inline-block;
    background-color: transparent;
    border-color: #cccccc;
    font-weight: bold;
    color: #cccccc;
    float: right;
    height: 2.5em;
    position: relative;
    top: 0.4em;
    left: 0;
    cursor: pointer;
}

.comment-post-submit-btn:hover {
    display: inline-block;
    background-color: transparent;
    box-shadow: none;
    float: right;
    height: 2.5em;
    position: relative;
    top: 0.4em;
    left: 0;
    cursor: pointer;
}

.emojionearea * {
    z-index: 1 !important;
}

.post-meta-info > span:nth-child(1) {
    color: rgba(93, 93, 93, 0.48);
}




